.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    font-family: sans-serif;
}
/*
.header h1, h2, a {
    text-decoration: none;
    font-weight: 200;
    display: inline;
    padding-right: 30px;
    padding-top: 20px;
    letter-spacing: -1px;
    word-spacing: -5px;
    color: white;
}
*/
.move-left {
    padding-left: 25px;
}

.header {
    background-color: rgb(36, 114, 145);
    padding: 25px;
    margin: 0 0 1em 0;
}
#home, #cat {
    font-weight: 600;
    text-decoration: none;
}

.big {    
    margin: 2em;
}

.big-grey {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:   darkgrey;
    padding: 10px;
    text-align: left;
}

.big-grey h2 {
    font-weight: 600;
    color:  rgb(70, 70, 70);
    word-spacing: 1px;
}

.articles-box {
    text-align: left;
    margin: 2em;
}

.title-box {
    margin-top: 20px;
}
.article-title {
    color: rgb(36, 114, 145);
    font-weight: 400;
    word-spacing: 1px;
}
.article {
    margin-bottom:  -15px;
}

.comments {
    background-color:   orange;
    padding: 5px;
    color: white;
}
h4 {
    display: inline;
    padding: 5px 25px 5px 10px;

}

.language-box {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
    background-color: darkgrey;
    width: 300px;
    height: 250px;
}
.lang-name {
    margin-top: 35%;
    font-size: 30px;
    font-weight: 200;
}
#vbnet {
    text-decoration-line: underline;
}
.lang-name > p {
    font-weight: 100;
}
.count {
    color: rgb(82, 82, 82);
    margin-top: 80px;
} 